/* * {
  margin: 0;
  padding: 0;
 font-family: muli, futura-pt, sans-serif;
} */

.containerStyle {
  max-width: 780px;
  margin: 0 auto;
  font-family: muli, Arial, sans-serif;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-customlink {
  text-decoration: none;
  color: #010101;
  display: inline-block;
  padding: 10px;
  font-size: 18px;
}

.logo {
  text-decoration: none;
  color: #010101;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
}

.nav-customlink:hover {
  color: #FFF;
  background-color: #111111;
  font-style:  bold;
}

.headingStyle {
  font-size: 36px;
  margin-bottom: 20px;
  padding-top: 12px;
}

.subheadingStyle {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.listItemStyle {
  margin: 5px 5px;
}

.paragraphStyle {
  margin-bottom: 20px;
  text-align: justify !important;
  text-justify: inter-word;
}

.lessonsPianoImage {
  border: 1px solid transparent;
  border-radius: 9px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply animation to an element */
.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}
